<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CareSentineliOS Dev.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CareSentineliOS TF.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CareSentineliOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27091E021BCD6F3A0092DDE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273AE9321BC4377900B6E741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273ED3441AFC550700F4F82B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273ED3601AFC550700F4F82B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27556A431B386444008A97FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BA55581B44E89A00107017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BA558F1B44F01F00107017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
